body {
  margin: 0;
  padding: 0;
  font-family: "Orbitron";
  background-color: rgb(18, 18, 18);
  padding-bottom: 500px;
  color: white;
}
a{
  text-decoration: none;
}
.hamburger{
  position: fixed;
  right: 30px;
  top: 30px;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  z-index: 10;
}

.hamburger div{
  width: 75%;
  height: 5px;
  background-color: white;
  border-radius: 2px;
}

.mobile-menu-fullscreen{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  z-index: 9;
  display: none;
}


.mobile-menu-list{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mobile-menu-list > *{
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-show{
  display: block;
}
.header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 30% 60%, 25% 100%, 0 100% );
  z-index: 10;
}

#navbar{
    transition: top 0.3s;
}

#header-lazaro-container{
  position: relative;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-lazaro{
  color: white;
  font-size: 70px;
  margin: 0;
  cursor: pointer;
}
.header-links{
  position: fixed;
  top: 0;
  left: 30%;
  height: 60px;
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.header-links a{
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  font-size: 20px;
}

.header-links a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.icons{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icons i{
  scale: 0.85;
  cursor: pointer;
}
.icons i:hover{
  scale: 1;
}

#title_video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-screen {
  width: 100%;
  height: 100vh;
  position: relative;
}

.heading-wrapper {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  color: white;
  padding: 10px;
  --s: 100px;
  clip-path: polygon(0 0, calc(100% - var(--s)) 0, 100% var(--s), 100% 100%, 0 100%);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.auction-grid {
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(550px, 100%), 1fr));
  place-content: space-evenly;
}

.auction-container {
  height: 400px;
  background-color: rgb(29, 29, 29);
  margin: 30px;
  border-radius: 20px;
  display: flex;
  align-items: top;
}

.auction-video {
  height: 100%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.auction-heading {
  color: white;
  padding: 20px;
  flex-grow: 1;
  font-size: 25px;
}

.auction-price{
  color: white;
  padding-left: 20px;
  font-size: 20px;
}

.auction-bid-btn-container{
  padding: 0px;
  width: 180px;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  margin-left: 20px;
}
.auction-bid-btn{
  background: none;
  border-style: none;
  color: rgb(29, 29, 29);
  background-color: white;
  height: 30px;
  font-size: 23px;
  width: 130px;
  clip-path: polygon(0 0 , 100% 0, calc(100% - 10px) 100%, 0 100%);
}

.auction-bid-btn-deco{
  padding: 0px;
  width: 30px;
  height: 30px;
  background-color: white;
  clip-path: polygon(10px 0 , 100% 0, calc(100% - 10px) 100%, 0 100%);
  transition: 0.3s;
}

.auction-bid-btn-container:hover .auction-bid-btn-deco{
  margin-left: -8px;
}

.my-art-preview-container{
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-content: space-evenly;
  gap: 30px;
  margin: 50px 30px;
}
.my-art-container-small{
  height: 550px;
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: top;
}


.my-art-container-small video{
  height: 100%;
  border-radius: 20px;
  mask: linear-gradient(to top, transparent, black 40%);
  object-fit: cover;
}

.video_subheading{
  display: inline-block;
  position:absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;
}

.heading{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}

.see-more-btn{
  background-color: white;
  background: none;
  border-style: none;
  color: rgb(29, 29, 29);
  background-color: white;
  height: 30px;
  font-size: 23px;
  width: 130px;
  clip-path: polygon(5px 0, 100% 0, 100% calc(100% - 5px), calc(100% - 5px) 100%, 0 100%, 0 5px);
  margin-left: 10%;
}



@media only screen and (max-width: 1700px) {
  .heading-wrapper{
    --s: 50px;
  }

} 
@media only screen and (max-width: 1100px) {
  #header-lazaro{
    font-size: 45px;
  }
  .heading-wrapper{
    font-size: 1.5vh;
    --s: 25px;
  }
} 
@media only screen and (max-width: 768px) {
  #navbar{
    display: none;
  }
  .hamburger{
    display: flex;
  }
  .heading-wrapper{
    font-size: 1.5vh;
    --s: 25px;
    width: 80%;
  }
  .auction-container{
    flex-direction: column;
    height: fit-content;
    padding-bottom: 50px;
  }
  .auction-video{
    height: auto;
    width: 100%;
  }
  .auction-video{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

}